logger:
  level: "${LOG_LEVEL}"
storage:
  type: "sql"
  sql:
    dsn: "host=${POSTGRES_HOST} port=${POSTGRES_PORT} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} sslmode=disable"
rmq:
  url: "amqp://${RMQ_USER}:${RMQ_PASSWORD}@${RMQ_HOST}:${RMQ_PORT}/"
  queue: "notifications"
interval: "${SCHEDULER_INTERVAL}"
